<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Admin | Events Manager</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="./css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/styles.css">
		<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
		<style>
			body {
				
				background-color: white;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="./index.htm">EVENTS MANAGER</a>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="./index.htm">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./addevent.htm">Add Event</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./myevents.htm">My Events</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./mycenters.htm">My Centres</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container-fluid admin">
			<div class="row">
				<div class="col-sm-2 side">
					<div class="list-group sidebar">
						<a href="#" class="list-group-item list-group-item-action">Centers</a>
						<a  class="list-group-item list-group-item-action" onclick="show('add-center')">Add Center</a>
						<a href="#" class="list-group-item list-group-item-action">Events</a>
						<a href="#" class="list-group-item list-group-item-action">Users</a>
					</div>
					
				</div>
				<div class="col-sm-10 panel-column">
					<div class="panel">
						
						<div id="add-center" class="container add-center" >
							<div class= "row">
								<div class="container">
									<form>
										<p class="text-center h5"><b>ADD CENTER</b></p>
										<div class="form-group row">
											<label for="title" class="col-sm-3 col-form-label">Name</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
										<div class="form-group row">
											<label for="Description" class="col-sm-3 col-form-label">Description</label>
											<div class="col-sm-9">
												<textarea type="text" class="form-control" id="" placeholder="">
												</textarea>
											</div>
										</div>
										<div class="form-group row">
											<label for="title" class="col-sm-3 col-form-label">Location</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
										<div class="form-group row">
											<label for="title" class="col-sm-3 col-form-label">Capacity</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
										<div class="form-group row">
											<label for="title" class="col-sm-3 col-form-label">Price</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
										<div class="form-group row">
											<label for="title" class="col-sm-3 col-form-label">Facilities</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="" placeholder="Separate with spaces">
												<small id="fileHelp" class="form-text text-muted">( Optional )</small>
											</div>

										</div>
										<div class="form-group row">
											<label for="exampleInputFile"  class="col-sm-3 col-form-label">Image</label>
											<div class="col-sm-9">
												<input type="file" class="form-control" id="exampleInputFile" aria-describedby="fileHelp">
												<small id="fileHelp" class="form-text text-muted">( Optional )</small>
											</div>
										</div>
										
										
										<div class="form-group row">
											<div class="offset-sm-3 col-sm-9">
												<button type="submit" class="btn btn-sm btn-success"><i class="fa fa-plus fa-lg"></i> Add Center</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						
					</div>
					
					
					
				</div>
			</div>
			
			<footer class="container-fluid">
				<p class="h6 text-center"><i class="fa fa-copyright"></i> 2015 EVENTS MANAGER</p>
				
			</footer>
			
			<script src="./js/jquery-3.1.1.slim.min.js"></script>
			<script src="./js/tether.min.js"></script>
			<script src="./js/bootstrap.min.js"></script>
			<script type="text/javascript">
				let show = function(elemId) {
					document.getElementById("add-center").style.display = "none";

					document.getElementById(elemId).style.display = "flex";
					console.log("Banana")
				}
			</script>
		</div>
	</body>
</html>