<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Centers | Events Manager</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="./css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/styles.css">
		<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
		<style>
			body {
				background-image: url('./img/ambitious-creative-co-rick-barrett-110145.jpg');
				background-position: center;
				background-size: cover;
				background-attachment: fixed;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="./index.htm">EVENTS MANAGER</a>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="./index.htm">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./addevent.htm">Add Event</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./myevents.htm">My Events</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./admin.htm">Admin</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<div id="centers" class="panel centers">
			<div  id="events" class="container events">
				<div class="row event-row">
					<div class="col-md-4 event">
						<div class="card">
							<div class="card-block">
								<h5 class="card-title"><b>City Halls</b></h5>
								<p class="card-text h6">Suitable center for all kinds of events. We offer  affordable prices.</p>
								<p class="card-text h6"><b>Location</b>: Ojota, Lagos</p>
								<p class="card-text h6"><b>Capacity</b>: 500 seats</p>
								<p class="card-text h6"><b>Price</b>: &#8358;150 000</p>
								<p class="text-center"><a href="./centerdetails3.htm" class="btn btn-sm btn-primary"><i class="fa fa-info-circle fa-lg"></i> View Center</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 event">
					<div class="card">
						<div class="card-block">
							<h5 class="card-title"><b>EM Parks</b></h5>
							<p class="card-text h6">The best environments for all your outdoor events. We also offer event planning as a bonus.</p>
							<p class="card-text h6"><b>Location</b>: Mile 4, Port Harcourt</p>
							<p class="card-text h6"><b>Capacity</b>: 200 seats</p>
							<p class="card-text h6"><b>Price</b>: &#8358;80 000</p>
							<p class="text-center"><a href="./centerdetails2.htm" class="btn btn-sm btn-primary"><i class="fa fa-info-circle fa-lg"></i> View Center</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 event">
				<div class="card">
					<div class="card-block">
						<h5 class="card-title"><b>Central Auditorium</b></h5>
						<p class="card-text h6">With supporting text below as a natural lead-in to additional content.</p>
						<p class="card-text h6"><b>Location</b>: Lagos</p>
						<p class="card-text h6"><b>Capacity</b>: 1 000 seats</p>
						<p class="card-text h6"><b>Price</b>: &#8358;300 000</p>
						<p class="text-center"><a href="./centerdetails.htm" class="btn btn-sm btn-primary"><i class="fa fa-info-circle fa-lg"></i> View Center</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row event-row">
		<div class="col-md-4 event">
			<div class="card">
				<div class="card-block">
					<h5 class="card-title"><b>City Halls</b></h5>
					<p class="card-text h6">Suitable center for all kinds of events. We offer  affordable prices.</p>
					<p class="card-text h6"><b>Location</b>: Ojota, Lagos</p>
					<p class="card-text h6"><b>Capacity</b>: 500 seats</p>
					<p class="card-text h6"><b>Price</b>: &#8358;150 000</p>
					<p class="text-center"><a href="./centerdetails3.htm" class="btn btn-sm btn-primary"><i class="fa fa-info-circle fa-lg"></i> View Center</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 event">
		<div class="card">
			<div class="card-block">
				<h5 class="card-title"><b>EM Parks</b></h5>
				<p class="card-text h6">The best environments for all your outdoor events. We also offer event planning as a bonus.</p>
				<p class="card-text h6"><b>Location</b>: Mile 4, Port Harcourt</p>
				<p class="card-text h6"><b>Capacity</b>: 200 seats</p>
				<p class="card-text h6"><b>Price</b>: &#8358;80 000</p>
				<p class="text-center"><a href="./centerdetails2.htm" class="btn btn-sm btn-primary"><i class="fa fa-info-circle fa-lg"></i> View Center</a>
			</p>
		</div>
	</div>
</div>
<div class="col-md-4 event">
	<div class="card">
		<div class="card-block">
			<h5 class="card-title"><b>Central Auditorium</b></h5>
			<p class="card-text h6">With supporting text below as a natural lead-in to additional content.</p>
			<p class="card-text h6"><b>Location</b>: Lagos</p>
			<p class="card-text h6"><b>Capacity</b>: 1 000 seats</p>
			<p class="card-text h6"><b>Price</b>: &#8358;300 000</p>
			<p class="text-center"><a href="./centerdetails.htm" class="btn btn-sm btn-primary"><i class="fa fa-info-circle fa-lg"></i> View Center</a>
		</p>
	</div>
</div>
</div>
</div>
<div class="row event-row">
<div class="col-md-4 event">
<div class="card">
	<div class="card-block">
		<h5 class="card-title"><b>City Halls</b></h5>
		<p class="card-text h6">Suitable center for all kinds of events. We offer  affordable prices.</p>
		<p class="card-text h6"><b>Location</b>: Ojota, Lagos</p>
		<p class="card-text h6"><b>Capacity</b>: 500 seats</p>
		<p class="card-text h6"><b>Price</b>: &#8358;150 000</p>
		<p class="text-center"><a href="./centerdetails3.htm" class="btn btn-sm btn-primary"><i class="fa fa-info-circle fa-lg"></i> View Center</a>
	</p>
</div>
</div>
</div>
<div class="col-md-4 event">
<div class="card">
<div class="card-block">
	<h5 class="card-title"><b>EM Parks</b></h5>
	<p class="card-text h6">The best environments for all your outdoor events. We also offer event planning as a bonus.</p>
	<p class="card-text h6"><b>Location</b>: Mile 4, Port Harcourt</p>
	<p class="card-text h6"><b>Capacity</b>: 200 seats</p>
	<p class="card-text h6"><b>Price</b>: &#8358;80 000</p>
	<p class="text-center"><a href="./centerdetails2.htm" class="btn btn-sm btn-primary"><i class="fa fa-info-circle fa-lg"></i> View Center</a>
</p>
</div>
</div>
</div>
<div class="col-md-4 event">
<div class="card">
<div class="card-block">
<h5 class="card-title"><b>Central Auditorium</b></h5>
<p class="card-text h6">With supporting text below as a natural lead-in to additional content.</p>
<p class="card-text h6"><b>Location</b>: Lagos</p>
<p class="card-text h6"><b>Capacity</b>: 1 000 seats</p>
<p class="card-text h6"><b>Price</b>: &#8358;300 000</p>
<p class="text-center"><a href="./centerdetails.htm" class="btn btn-sm btn-primary"><i class="fa fa-info-circle fa-lg"></i> View Center</a>
</p>
</div>
</div>
</div>
</div>

</div>

</div>

<footer class="container-fluid">
<p class="h6 text-center"><i class="fa fa-copyright"></i> 2017 EVENTS MANAGER</p>

</footer>

<script src="./js/jquery-3.1.1.slim.min.js"></script>
<script src="./js/tether.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</body>
</html>