body{
	background-color: grey;
}

.navbar{
	background-color: grey !important;
	box-shadow: 10px 10px 2px !important black;
	border-bottom-style: solid;
	border-bottom-width: 1px !important;
	border-bottom-color: black !important;
}

.navbar-brand {
	color: black !important;
}

.navbar a{
	font-weight: bold;
	color: black !important;

}

.navbar a.navbar-brand{

}


.navbar a.active{

}



/* Carousel */
.carousel {
	background-color: black;
	height: 500px !important;
	overflow: hidden;
	text-shadow: black 2px 2px;
}

.carousel img {
	height: 500px;
	width: inherit;
}


/* Features */
.features {
	min-height: 300px;
	background-color: black;
	opacity: 0.7;
}

.features > p {
	padding-top: 20px;
	color: white;
}

.feature {
	color: white;
}

/* Capacity */
.capacity {
	height: 500px;
	background-image: url('../img/deklerk-basson-44610.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.capacity p {
	padding-top: 50px;
	color: black;
	text-shadow: white 2px 2px;
	font-weight: bold;
}


/* Footer */
footer {
	max-height: 25px !important;
	color: black;
}

footer p {
	margin-top: 25px;
}

/* Sign In */
.signup {
	padding-top: 5%;
	width: 100%;
	min-height: 600px;
	background-image: url('../img/samuel-zeller-103111.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fix;

}

.signup input {
	max-width: 300px;
	font-size: 12px;
	border-style: solid;
	border-width: 2px;
}

.signup form {
	padding: 5%;
	padding-bottom: 2%;
	background-color: white;
	opacity: 0.8;
	font-weight: bold;
	max-width:600px;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 3%;
	border-radius: 3px;
}
